# Application Configuration

APP_ENV=development


# Database Configuration

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=repodemystify
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=


# Backend Configuration

SERVER_PORT=8080


# AI Configuration

# Possible values:
# ollama
# openai
# gemini

AI_PROVIDER=ollama


# Ollama Configuration

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3


# Cloud AI Providers (Future)

OPENAI_API_KEY=

GEMINI_API_KEY=


# GitHub Integration (Future)

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_TOKEN=